<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="nav-link home" href="/"><img src="/assets/images/logo.png" alt="HOME"></a>
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">FIND A USER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hookup">HOOK UP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SHOP</a>
        </li>
        <li class="nav-item">
          <% if(locals.isAuthenticated) { %>
            <a class="nav-link" href="/logout">LOGOUT</a>
          <% } else { %>
          <a class="nav-link" href="/login">LOGIN</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
