<div class="about-page">
  <div class="container">
    <img src="/assets/images/logo-about-dark.png">
    <div class="row main">
      <div class="col-md-4">
        <h3>HERE'S THE STITCH</h3>
        <h5>Big Stitch Up is a place for knitters and crocheters to keep a record and share of all their projects, get ideas from other users and find out when the next knitting/crochetting Meetup's are. You can comment on other users designs to find out more about their project.</h5>
      </div>
      <div class="col-md-4">
        <h3>HOOK UP</h3>
        <h5>Check out our <a href="/hookup">HOOK UP</a> map to see when the next Meetup events are, and find links to become a member of the groups and the event. </h5>
      </div>
      <div class="col-md-4">
        <h3>SHOP</h3>
        <h5>Here you can find different online sites that provide huge selections of yarn, needles, patterns, and hooks &amp; links to London based stores, so you can see and feel the yarn before you buy.</h5>
      </div>
    </div>
  </div>
</div>
