@import "bootstrap/bootstrap";

$white: #fff;
$brand-color: #8BC0C8;
$main-color: #4a919c;
$black: #000;

body {
  font-family: 'Dosis', sans-serif;
  background-color: aliceblue;
  margin: 10% 0 5%;
}

.btn {
  border: 1px solid $brand-color;
  color: $main-color;
  font-family: inherit;
  background-color: $white;
  margin: 12px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

// ------------     NAV     ------------

.navbar {
  padding: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 60px;
  background-color: $brand-color;
  letter-spacing: 1px;
  font-size: 20px;
  color: $white;
  img {
    height: 50px;
    float: left;
  }
  ul {
    text-align: center;
    li {
      padding: 0px 10px;
      a {
          color: white;
      }
    }
  }
}

// ------------     HOME    ------------

.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/assets/images/knitting1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: -10%;
  h1 {
    font-size: 70px;
    color: $white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 20px;
    text-align: center;
  }
}

// ------------     ABOUT     ------------

.about-page {
  background-color: aliceblue;
  height: 100vh;
  letter-spacing: 1px;
  img {
    margin-bottom: 10%;
  }
  div .col-md-4 {
    border-right: 1px solid $main-color;
    padding: 2%;
    &:last-of-type {
      border: none;
    }
  }
  h5 {
    text-align: justify;
    a {
      color: $main-color;
      &:hover {
        color: $brand-color;
        text-decoration: none;
      }
    }
  }
}

// ------------     FIND A USER     ------------

.users-page {
  a:hover {
    text-decoration: none;
    color: $brand-color;
  }
  .user {
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 5% 0;
    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }
  h2 {
    text-align: center;
    letter-spacing: 1px;
    color: $main-color;
    &:hover {
      color: $brand-color;
    }
  }
}

// ------------     USER PROFILE     ------------

.user-profile {
  a:hover {
    text-decoration: none;
    color: $brand-color;
  }
  .user {
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid $brand-color;
    margin: 5% 0;
    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }
  h1 {
    letter-spacing: 1px;
    color: $main-color;
    font-size: 80px;
  }
}



// ------------     DESIGN PAGE     ------------


.design-page {
  a:hover {
    text-decoration: none;
    color: $brand-color;
  }
  .design {
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid $brand-color;
    margin: 5% 0;
    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }
  h2 {
    letter-spacing: 1px;
    color: $main-color;
    font-size: 60px;
    padding-bottom: 6%;
  }
  h3 {
    letter-spacing: 1px;
    color: $main-color;
    font-size: 40px;
    padding: 4% 0;
  }
  h4 {
    letter-spacing: 1px;
  }
  .show-btn {
    display: inline-block;
    margin-right: 2%;
  }
}

// ------------     LOGIN / REGISTER     ------------

.login-page {
  .col-md-4 {
    border: 2px solid $brand-color;
    background-color: white;
    padding: 20px 30px;
  }
  h1 {
    text-align: center;
    letter-spacing: 1px;
    color: $main-color;
  }
  label {
    font-size: 18px;
    letter-spacing: 1px;
  }
  button {
    margin: 4% auto;
    width: 100%;
  }
  p {
    padding-top: 2%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
  }
  a {
    color: $main-color;
    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
  #profileImage {
    display: none;
  }
  .btn {
    width: 100%;
  }
}

// ------------     HOOK UP     ------------

#map {
  height: 100vh;
  background-color: $brand-color;
}
