<div class="container login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-auto">
      <h1>LOGIN</h1>
      <form method="POST" action="/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button class="btn">LOGIN</button>
      </form>

      <p>Or Login with <a href="<%= oauth.github.getLoginURL() %>">GitHub</a> or <a href="<%= oauth.facebook.getLoginURL() %>">Facebook</a></p>

      <p>Not Registered? Register <a href="/register">here</a></p>
    </div>
  </div>
</div>
