<h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>

<p>Or Login with <a href="<%= oauth.github.getLoginURL() %>" target="_blank">GitHub</a></p>

<p>Not Registered? Register <a href="/register">here</a></p>
