<div class="container users-page">
  <div class="row">
    <% users.forEach((user) => { %>
      <div class="col-md-4">
        <a href="/users/<%= user.id %>">
          <div class="user" style="background-image:url(<%= user.profileImageSRC %>)">
          </div>
            <h2><%= user.username %></h2>
        </a>
      </div>
    <% }) %>
  </div>
</div>
