<div class="container users-page">
  <div class="row">
    <% users.forEach((user) => { %>
      <div class="col-md-4">
        <a href="/users/<%= user.id %>">
          <img src="<%= user.profileImageSRC %>">
          <h2><%= user.username %></h2>
        </a>
      </div>
    <% }) %>
  </div>
</div>
